/* втор цвет текста #212121 */

/* осн цвет текста #757575 */

/* Акцент #2196F3 */

/* белый цвет фона #FFFFFF */

/* цвет фона вторичеый #F5F4FA */

/* footer color rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent: #2196f3;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo-first {
  color: var(--accent);
}

.logo {
  color: var(--title-text-color);
}

/* site nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

/* contacts */

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent);
}

/* Hero */

.hero-title {
  color: var(--title-text-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* feature */

.feature-list .title {
  color: var(--title-text-color);
}

/* Staff */

.staff .title {
  color: var(--title-text-color);
}

/* Portfolio */

.portfolio-list .title {
  color: var(--title-text-color);
}
